<section id="get-app" class="bg-light-blue" #getapp>
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-auto pt-5 pb-5 text-center">
        <img alt="" src="assets/images/image-home-get-app.png" width="90%">
      </div>
      <div class="col-md-6 my-auto text-left-md-center">
        <h2>
          Download the
          <br>
          ArihantPlus app now
        </h2>
        <p class="font-22">
          and start investing today.
        </p>
        <div class="container my-5 pb-5 float-lg-left float-xl-left float-sm-none desktop-view">
          <div class="row d-flex justify-content-start ">
            <a href="https://play.google.com/store/apps/details?id=com.msf.acml&hl=en_IN&gl=US" target="_blank"
              class="link link-primary-green ml-0  ">
              <img id="icon-playstore" alt="" src="assets/images/icon-play-store.png" width="24px" /> Play Store
            </a>
            <b class="one-px-vertical-divider"></b>
            <a href="https://apps.apple.com/in/app/arihant-plus/id1643484698" target="_blank"
              class="link link-primary-green ml-0 ">
              <img alt="" src="assets/images/icon-app-store.png" width="24px" /> App Store
            </a>
          </div>
        </div>

        <div class="container my-5 pb-5 float-lg-left float-xl-left float-sm-none mobile-view">
          <div class="row d-flex justify-content-center ">
            <a href="https://play.google.com/store/apps/details?id=com.msf.acml&hl=en_IN&gl=US" target="_blank"
              class="link link-primary-green ml-0  ">
              <img id="icon-playstore" alt="" src="assets/images/icon-play-store.png" width="24px" /> Play Store
            </a>
            <b class="one-px-vertical-divider"></b>
            <a href="https://apps.apple.com/in/app/arihant-plus/id1643484698" target="_blank"
              class="link link-primary-green ml-0 ">
              <img alt="" src="assets/images/icon-app-store.png" width="24px" /> App Store
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>