<app-navbar></app-navbar>
<!-- 1st section How can you help you -->
<section class="bg-gradient-white-top-grey-bottom mt-5">
  <div class="container px-3 py-5">
    <div class="row flex-column-reverse flex-lg-row">
      <div class="col-md-6 my-auto customer-option">
        <img class="mb-5" src="assets/images/image-home-customer-support.png" width="80%" />
      </div>
      <div class="col-md-6">
        <div class="we-help">
          <p>Welcome,</p>
          <h1>How can we help?</h1>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <a href="https://support.arihantcapital.com/support/home">
                <div class="help-box">
                  <img src="assets/images/question.png" class="img-fluid">
                  <h1>Visit our help center</h1>
                  <p>If you have a question, we have it’s answer.</p>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-sm-6">
              <a href="https://support.arihantcapital.com/support/tickets/new">
                <div class="help-box">
                  <img src="assets/images/ticket.png" class="img-fluid">
                  <h1>Raise a ticket</h1>
                  <p>Let us know if you have any queries.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of - 1st Section How can you help you -->

<!-- 2nd section  talik to adviosr-->
<section class="talk-advisor">
  <div class="container">
    <div class="talk-advisor-heading">
      <h1>Talk to an advisor</h1>
      <p>Human support when you need it</p>

    </div>
    <div class="talk-box">
      <div class="row pb-3">
        <div class="col-md-3">
          <div class="for-whatsapp">
            <p>For quick solutions,
              connect with us on WhatsApp</p>
            <a href="https://api.whatsapp.com/send?phone=917314217003" target="_blank">
              <button class="btn btn-primary-green mt-0 justify-content-between mb-3 mt-3"
                style="background: #2AA81A;"><img alt="" src="assets/images/icon-whatsapp.png" width="40px"
                  height="40px"><span class="p-2">0731-4217003</span> </button>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="account-heading">
            <h1>New account opening</h1>
            <ul>
              <li>Monday – Friday</li>
              <li>9:00 AM - 5:30 PM</li>
              <li class="mt-3">Saturday</li>
              <li>9:00 AM - 2:00 PM</li>
              <li class="mt-4"><img src="assets/images/call.png" alt=""><span class="m-2">0731-4217003</span> </li>
              <li class="mt-2"><img src="assets/images/call.png" alt=""><span class="m-2">0731-4217003</span> </li>

            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="account-heading">
            <h1>Support</h1>
            <ul>
              <li>Monday – Friday</li>
              <li>8:30 AM - 5:00 PM</li>
              <li class="mt-3"><img src="assets/images/call.png" alt=""><span class="m-2">0731-4217003</span> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="account-heading">
            <h1>Call & Trade</h1>
            <ul>
              <li>Monday – Friday</li>
              <li>9:00 AM - 11:30 PM</li>
              <li class="mt-3"><img src="assets/images/call.png" alt=""><span class="m-2">0731-4217003</span> </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <div class="partner-box">
            <div class="row">
              <div class="col-md-6">
                <h1>Press & Media</h1>
                <p>press@arihantcapital.com</p>
              </div>
              <div class="col-md-6 email-btn">
                <a href="mailto:press@arihantcapital.com">
                  <button class="btn btn-primary-green mt-0 justify-content-between mb-3 mt-3 text-white"
                    style="background: #34B350;">Email us</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="partner-box">
            <div class="row">
              <div class="col-md-6">
                <h1>Partner Support</h1>
                <p>partner@arihantcapital.com</p>
              </div>
              <div class="col-md-6 email-btn">
                <a href="mailto:partner@arihantcapital.com">
                  <button class="btn btn-primary-green mt-0 justify-content-between mb-3 mt-3 text-white"
                    style="background: #34B350;">Email us</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End of - 2nd section  talk to advisor-->

<!-- 3rd section Address Section -->
<section class="address-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="map">
          <img alt="map" src="assets/images/map.png" class="img-fluid" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="address-sec">
          <h1>Corporate office Address:</h1>
          <p>#1011 Solitaire Corporate Park, <br>
            Andheri Ghatkopar Link Road, <br>
            Chakala, <br>
            Andheri (E), <br>
            Mumbai - 400093.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="address-sec">
          <h1>Registered Address:</h1>
          <p>6, Lad colony, <br>
            Y.N. Road, <br>
            Indore – 452001.
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of 3rd section Address Section -->

<!--Escalation Matrix 4th section  talk to advisor-->

<section class="escalation-section">
  <div class="container">
    <div class="talk-advisor-heading">
      <h1>Escalation Matrix</h1>
      <p>Equity, Currency & Mutual Funds</p>

    </div>
    <table class="table table-bordered" style="border-radius: 16px;">
      <thead>
        <tr>
          <th scope="col">Details of</th>
          <th scope="col">Contact person</th>
          <th scope="col">Call / Email</th>
          <th scope="col">Working Hours*</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Customer Care</th>
          <td>Mr. Kartikeya Shukla, <br>
            Indore - Head office.</td>
          <td>0731-4217003 <br><a href="mailto:customersupport@arihantcapital.com">
              <span class="customer-email">customersupport@arihantcapital.com</span></a></td>
          <td>9:30 am to 6:30 pm (Mon to Fri)</td>
        </tr>
        <tr>
          <th scope="row">Head of Customer Care</th>
          <td>Mr. Nishchal Bais,<br>
            Indore - Head office.</td>
          <td>0731-4217003 <br> <a href="mailto:nishchal.bais@arihantcapital.com"><span
                class="customer-email">nishchal.bais@arihantcapital.com</span></a></td>
          <td>9:30 am to 6:30 pm (Mon to Fri)</td>
        </tr>
        <tr>
          <th scope="row">Compliance Officer-Broking</th>
          <td>Mr. P. Shiv Kumar,<br>
            Indore - Head office.</td>
          <td>0731-4217108 <br><a href="mailto:compliance@arihantcapital.com"><span
                class="customer-email">compliance@arihantcapital.com</span></a></td>
          <td>9:30 am to 6:30 pm (Mon to Fri)</td>
        </tr>
        <tr>
          <th scope="row">Compliance Officer-Depository</th>
          <td>Mr. Chandra Prakash Garg, <br>
            Indore - Head office.</td>
          <td>0731-4217262 <br> <a href="mailto:cprakash.garg@arihantcapital.com"><span
                class="customer-email">cprakash.garg@arihantcapital.com</span></a></td>
          <td>9:30 am to 6:30 pm (Mon to Fri)</td>
        </tr>
        <tr>
          <th scope="row">CEO</th>
          <td>Mr. Praneet Maheshwari, <br>
            Indore - Head office.</td>
          <td>0731-4217121 <br> <a href="mailto:praneet.maheshwari@arihantcapital.com"><span
                class="customer-email">praneet.maheshwari@arihantcapital.com</span></a></td>
          <td>9:30 am to 6:30 pm (Mon to Fri)</td>
        </tr>
      </tbody>
    </table>

    <div class="working-option">
      <p>Working hours for Saturday are 10:00 am to 03:00 pm.</p>
    </div>

  </div>
</section>
<!--End of - 4th section Escalation Matrix-->

<app-download></app-download>
<app-footer></app-footer>