<div class="row pricing-card">
  <div class="col-md-3 p-3">
    <div class="card shadow bg-white text-center py-5 px-3" style="border-radius: 16px;">
      <h2 class="font-56 line-height-72">
        <b class="text-primary-green">
          <span class="text-primary-green" style="font-family: 'Arial' !important;">₹</span>0
        </b>
      </h2>
      <p class="text-black-64 font-20">
        Account Opening, AMC
        <br>
        & Platform Fees.
      </p>
    </div>
  </div>
  <div class="col-md-3 p-3">
    <div class="card shadow bg-white text-center py-5 px-3" style="border-radius: 16px;">
      <h2 class="font-56 line-height-72">
        <b class="text-primary-green">
          <span class="text-primary-green" style="font-family: 'Arial' !important;">₹</span>0
        </b>
      </h2>
      <p class="text-black-64 font-20">
        Equity Delivery,
        <br>
        ETFs & IPOs
      </p>
    </div>
  </div>
  <div class="col-md-3 p-3">
    <div class="card shadow bg-white text-center py-5 px-3" style="border-radius: 16px;">
      <h2 class="font-56 line-height-72">
        <b class="text-primary-green">
          <span class="text-primary-green" style="font-family: 'Arial' !important;">₹</span>20
        </b>
      </h2>
      <p class="text-black-64 font-20">
        Equity
        <br>
        Intraday
      </p>
    </div>
  </div>
  <div class="col-md-3 p-3">
    <div class="card shadow bg-white text-center py-5 px-3" style="border-radius: 16px;">
      <h2 class="font-56 line-height-72">
        <b class="text-primary-green">
          <span class="text-primary-green" style="font-family: 'Arial' !important;">₹</span>20
        </b>
      </h2>
      <p class="text-black-64 font-20">
        All segment
        <br>
        Futures & options
      </p>
    </div>
  </div>
</div>