<div class="reg-inner common-left">
  <!-- <ul class="save-invest-grow mb-3">
    <li><a [routerLink]="['/register']" class="cursor-pointer">Save</a></li>
    <li><a href="javascript:void(0)" class="cursor-pointer">Invest</a></li>
    <li><a href="javascript:void(0)" class="cursor-pointer">Prosper</a></li>
  </ul>-->
  <div id="smart-investing-image-full-view" class="col-md-12 text-center my-auto">
    <img src="assets/images/image-home-invest-in-stocks.png" width="96%" alt="" />
  </div>

  
</div>