 <!-- 8th Section - Footer -->
 <!-- <section class="bg-dark-blue p-3">
  <div class="container py-5 text-center">
    <img src="assets/images/logo-arihant-plus-primary-white.png" height="56px" class=" mb-3" />
    <p class="text-white-64 font-14">
      6, Laad Colony, Y N Road, Indore, Madhya Pradesh - 452 003.
    </p>
  </div>
</section> -->
<!-- End of - 8th Section - Footer -->

<footer id="ctl00_Footer1" style=" min-height: 300px; background-color: #323232;   z-index: 100;" class="noindex">
  

  <div class="sfContentBlock">
    <div class="container footcontainer noindex">
      <div class="row text-center d-flex align-item-center mb-4">
        <img src="{{env.logo_url_wt}}" alt="" class="text-center m-auto" width="auto" >
      </div>

      <div class="text-center" >
        <hr style="border-bottom:  1px solid rgba(255, 255, 255, 0.12);">
      </div>

      <div class="row noindex text-center ">
        

        <div class="footcontact col-lg-4 col-md-4 col-xs-6 col-sm-4 noindex">

          <h3 class="f_head">Product</h3>
          <ul >
            <li class="contactdetails calcri"> <a
                href="javascript:void(0);" >Stocks</a> </li>
            <li class="contactdetails calcri"> <a
                href="javascript:void(0);" >ETFs</a> </li>
            <li class="contactdetails calcri"><a href="javascript:void(0);" >Options</a></li>

            <li class="contactdetails calcri" ><a href="javascript:void(0);" >Futures </a></li>
            <li class="contactdetails calcri"><a href="javascript:void(0);" >IPOs</a></li>
            <!-- <li class="contactdetails calcri"> <a
                href="https://www.arihantcapital.com/products-services/equity-derivatives" target="_blank">Derivatives</a> </li>
            <li class="contactdetails calcri"> <a
                href="https://www.arihantcapital.com/products-services/currency-derivatives-forex-trading" target="_blank">Currency
                Derivatives</a> </li> -->
          </ul>

        </div>

        <!-- <div class="footcontact noindex col-lg-3 col-md-3 col-xs-6 col-sm-3">
          <h3 class="f_head">Company</h3>
          <ul>
            <li class="contactdetails"><a href="https://www.arihantcapital.com/about-us/about-arihant">About Us</a></li>
            <li class="contactdetails"><a href="https://www.arihantcapital.com/about-us/investor-relations">Investor
                Relations</a></li>
            <li class="contactdetails"><a href="https://www.arihantcapital.com/about-us/media-articles">Media Center</a>
            </li>
            <li class="contactdetails"><a href="https://www.arihantcapital.com/career" target="_blank">Careers</a></li>
          </ul>
        </div> -->
        
        <div class="footcontact noindex col-lg-4 col-md-4 col-xs-6 col-sm-4 foot_5th no-padding">

          <h3 class="f_head">Connect </h3>
          <ul>
            <!-- <li class="contactdetails"><a href="https://signup.arihantcapital.com/Client/Index" target="_blank">Open an account</a></li> -->
						<li class="contactdetails"><a routerLink="/contact">Contact Us</a></li>
						<li class="contactdetails"><a href="https://support.arihantcapital.com/support/solutions" target="_blank">Support </a></li>
						<!-- <li class="contactdetails"><a href="{{env.footerSiteUrl}}/fund-transfer" target="_blank">Fund Transfer </a></li> -->
            <li class="contactdetails"><a href="{{env.footerSiteUrl}}/business-partner" target="_blank">Partner with us</a></li>
          </ul>
          
        </div>


        <div class="footcontact noindex col-lg-4 col-md-4 col-xs-6 col-sm-4">
          <h3 class="f_head">Follow Us</h3>
          <div class="footsocial noindex ">
            <div class="usefulinks noindex">
              <ul>
                <li><a target="_blank" href="https://www.facebook.com/arihantcapitalmarkets" aria-label="Facebook"><em
                      class="fa fa-facebook"></em></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/company/arihant-capital-markets-ltd" aria-label="Linked In"><em
                      class="fa fa-linkedin"></em></a></li>
                <li><a target="_blank" href="https://twitter.com/arihantcapital"><em class="fa fa-twitter" aria-label="Twitter"></em></a>
                </li>
                <li><a target="_blank" href="https://www.youtube.com/channel/UCrPcG3wkHygflvEIMcb_I3Q" aria-label="You tube"><em
                      class="fa fa-youtube-play"></em></a></li>
                <li><a target="_blank" href="https://www.instagram.com/arihantcapitalmkt/" aria-label="instagram"><em
                      class="fa fa-instagram"></em></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="row m-1 important-links">
        <div class="col-lg-12 col-md-12 ml-0 pl-0 my-2" style="color: #FFFFFF; font-size:20px; font-weight: 500;line-height: 26px;">
          <b class="mr-2">Important Links</b>
          <a href="https://www.bseindia.com/" class="link-color-arihant border-left px-2">BSE</a> 
          <a href="https://www.nseindia.com/" class="link-color-arihant border-left px-2"> NSE </a> 
          <a href="https://www.sebi.gov.in/sebiweb/" class="link-color-arihant border-left px-2">SEBI</a>
          <!-- &nbsp; | &nbsp;<a href="https://www.mcxindia.com/">MCX</a>&nbsp; |&nbsp; <a href="https://www.ncdex.com/"> NCDEX</a> -->
        </div>
      </div>

      <!--marquee--->
      <div class="row m-1" >
        <!-- <div class="col-lg-2 col-md-2"><span style="color:#656465; font-size:11px;"><b>Investor Alert</b></span></div> -->
        <div class="browser_p col-md-12 mt-3 ml-0 p-0">
          <!-- <marquee onmouseover="this.stop();" onmouseout="this.start();" scrolldelay="150">
            <span style="color:#34b350; font-size:14px;">Investor Alert :-</span> <span style="color:rgba(255, 255, 255, 0.64); font-size:14px;">conducting appropriate analysis of respective companies and not to blindly follow unfounded rumors, tips etc. Further, you are also requested to share your</span>
          </marquee> -->
         <p> Arihant Capital Markets Limited is a SEBI registered stock broker and depository participant. SEBI Registration number for NSE & BSE :- INZ000180939; NSDL - IN-DP-127-2015 DP ID-IN301983; CDSL DP ID-43000;NCDEX - 01274; MCX - 56565; AMFI - ARN 15114; SEBI Merchant Banking Reg. No. - MB INM000011070; SEBI Research Analyst Reg. No. - INH000002764. <b style="color: #FFFFFF;">Registered Address:</b> 6, Lad colony, Y.N. Road, Indore – 452001. <b style="color: #FFFFFF;">Corporate office address:</b> #1011 Solitaire Corporate Park, Andheri Ghatkopar Link Road, Chakala, Andheri (E), Mumbai - 400093.</p>
         <br>
         <p>Please carefully read the risk disclosure document as prescribed by SEBI and Do’s & Don’ts by NSE, BSE,NCDEX & MCX. For any complaints regarding securities broking, pls write to <a href="mailto:compliance@arihantcapital.com"
          target="_blank">compliance@arihantcapital.com</a> and for DP write to <a href="mailto:depository@arihantcapital.com" target="_blank">depository@arihantcapital.com</a>.</p>
          <br>
          <p>If you want to register your complaints through SEBI Score Portal please <a href="https://www.arihantcapital.com/demo/scores">click here</a>. Mandatory details for filing complaints on SCORES: Name, PAN, Address, Mobile Number, E-mail ID. Benefits: Effective Communication, Speedy redressal of the grievances <br>
            Investments in securities market are subject to market risks; read all the related documents carefully before investing.<br>
            Disclaimer: Arihant Capital Markets Limited is engaged in client based and proprietary trading on various exchanges.</p>
        </div>
      </div>

      <!--marquee--->

      <div class="row noindex m-1" style="magring-top:5px;">
        <div class="col-sm-12 col-md-12  noindex col-lg-12 footdivide pl-0 ml-0">
          <div class="browser_p padding-bt-0 noindex ml-0 mt-3 ">
            <p style="color:#FFFFFF;" class="pl-0 pb-0"><b>ATTENTION INVESTORS</b></p>
          </div>
          <div class="mt-2 ml-3">
            <ul>
              <li>KYC is one time exercise while dealing in securities markets - once KYC is done through a SEBI registered intermediary (Broker, DP, Mutual Fund etc.), you need not undergo the same process again when you approach another intermediary.</li>
              <li>For Stock Broking Transaction 'Prevent unauthorised transactions in your account - update your mobile numbers/email IDs with your stockbrokers. Receive information of your transactions directly from Exchange on your mobile/email at the end of the day.</li>
              <li>For Depository Transaction 'Prevent Unauthorized Transactions in your demat account - Update your Mobile Number with your Depository Participant. Receive alerts on your Registered Mobile for all debit and other important transactions in your demat account directly from CDSL/NSDL on the same day.</li>
              <li>If you are subscribing to an IPO, there is no need to issue cheques. Just write the bank account number and sign in the application form to authorise your bank to make payment in case of allotment. No worries for refund as the money remains in investor's account.</li>
              <li>Investors should be cautious on unsolicited emails and SMS advising to buy, sell or hold securities and trade only on the basis of informed decision. Investors are advised to invest after conducting appropriate analysis of respective companies and not to blindly follow unfounded rumours, tips etc. Further, you are also requested to share your knowledge or evidence of systemic wrongdoing, potential frauds or unethical behaviour through the anonymous portal facility provided on BSE & NSE website.</li>
              <li>Registration granted by SEBI and certification from NISM in no way guarantee performance of the intermediary or provide any assurance of returns to investors.</li>
            </ul> 
          </div>

          <div class="browser_p padding-bt-0 noindex ml-0 mt-4">
            <p  class="pl-0 pb-0"><b>Awareness regarding guidelines of margin collection:</b></p>
          </div>
          <div class="mt-2 ml-3">
            <ul style="list-style-type: decimal;">
              <li>Stock brokers can accept securities as margins from clients only by way of pledge in the depository system w.e.f September 01, 2020.</li>
              <li>Update your e-mail and phone number with your stock broker / depository participant and receive OTP directly from depository on your e-mail and/or mobile number to create pledge.</li>
              <li>Check your securities / MF / bonds in the consolidated account statement issued by NSDL/CDSL every month.</li>
            </ul> 
          </div>
          <div>
            <p>Issued in the interest of investors</p>
          </div>

          <!-- <div class="browser_p  padding-bt-0">
            <p>
              Arihant group companies are registered broker and dealer. SEBI Registration number for NSE & BSE :- INZ000180939; NSDL - IN-DP-127-2015 DP ID-IN301983; CDSL DP ID-43000;NCDEX - 01274; MCX - 56565; AMFI - ARN 15114; SEBI Merchant Banking Regn. No. - MB INM 000011070; SEBI Research Analyst Regn. No. - INH000002764. Please carefully read the risk disclosure document as prescribed by SEBI and Do’s & Don’ts by NSE, BSE,NCDEX & MCX. Existing customers can send in their grievances to <a href="mailto:compliance@arihantcapital.com"
              target="_blank">compliance@arihantcapital.com</a>. and for DP related queries & Complaints please write us to 
              <a href="mailto:depository@arihantcapital.com" target="_blank">depository@arihantcapital.com</a>
If you want to register your complaints through SEBI Score Portal please <a
href="https://www.arihantcapital.com/demo/scores">Scores</a>.
            </p> 
            <p> ARIHANT CAPITAL IFSC LIMITED | SEBI Regid. No. : INZ000157539<br>
              Address: Unit No. 424, 4th Floor, The Signature Building, Block 13B, Road 1C, Zone 1, GIFT SEZ, GIFT City, Gandhinagar, Gujarat - 382355.
            </p>
          </div>
          <div class="browser_p  padding-bt-0">
            <p> Disclaimer: Arihant Capital Markets Limited is engaged in client based and proprietary trading on various exchanges. Arihant Capital IFSC Limited is engaged in proprietary trading in NSE IFSC Stock Exchange and India INX Stock Exchange.</p>
          </div>
          <div class="browser_p  padding-bt-0">
            <p>
              #1011 Solitaire Corporate Park, Andheri Ghatkopar Link Road, Chakala, Andheri (E), Mumbai - 4000093. 
              <a href="mailto:contactus@arihantcapital.com">Email: contactus@arihantcapital.com</a>, 
              <a href="tel:0731-4217154">Tel: 0731-4217003</a>
            </p>
          </div> --> 
        </div>

        
      </div>
      <div class="text-center" >
        <hr style="border-bottom:  1px solid rgba(255, 255, 255, 0.12);">
      </div>
      <div class="row noindex" style="magring-top:5px;">
        <div class="col-sm-6 col-md-6 col-lg-6 noindex copyright text-center text-lg-left">
          <p>Copyright © 2020 Arihant Capital Markets Ltd. All rights Reserved.</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 noindex  copyright text-center text-lg-right">
          <div class="dis noindex ">
            <ul>
              <!-- <li><a href="/about-us/site-map">Site Map</a></li> -->
              <li><a href="{{env.footerSiteUrl}}/privacyandsecurity" target="_blank">Privacy</a></li>
              <li><a href="{{env.footerSiteUrl}}/termsandconditions" target="_blank">Terms &amp; Conditions</a></li>
            </ul>
          </div>
        </div>

      </div>
      
    </div>


  </div>
</footer>

